.box {
  background: green;
  margin: 35px;
  width: 500px;
  height: 500px;
  color: #fff;
}

.box-big {
  border-radius: 5px;
  border: 3px solid #000;
  padding: 12px;
  color: #fff;
  font-size: 22px;
}

.box-bob {
  border-radius: 5px;
  border: 3px solid yellow;
  padding: 12px;
  color: #fff;
  font-size: 22px;
}
.student1 {
  max-height: 50%;
}
h1 {
  color: yellow;
  font-size: 32px;
  font-family:sans-serif;
  letter-spacing: 2px;
}
p {
  color: White
  

}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}


.round {
    border-radius: 50%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
