/* .wrapper * {
  background: #ffcc00;
  padding: 10px;
} */
body {
  background: white;
}

.main-head {
  grid-area: header;
  font-size: 40pt;
  color: brown;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
  background: white;
  color: green;
  list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;

  }

.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}





  nav ul {
    display: flex;
    justify-content: space-between;
    border: 1px solid #555;
    flex-direction: column;
  }



li a:hover {
    background-color: black;
}

/* Mobile Layout */


.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}


/* tablet layout */

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }

}
h1 {
  color: green;
  font-size: 32px;
  font-family:sans-serif;
  letter-spacing: 2px;
}
h2 {
  color: Orange;

}

.head {
  color: white;
  font-family: 'Mukta Mahee', sans-serif;
  background: #b0e0e6;

}
aside{
  color: green;
  font-size: 16px;
  font-family:arial;
  letter-spacing: 2px;

}
p {
  font-family: arial
}
}
