@@media only screen and (min-width: 400px) {
  .sample {
    color: red;
    font-size: 28px;
    width:125%;
    height:600px;
    background: blue;
  }
}
/*over 600 */
@media only screen and (min-width: 600px) {
  .sample {
    color: green;
    font-size: 48px;
    background: blue;
  }
}
/*over 800*/
@media only screen and (min-width: 800px) {
  .sample {
    color: purple;
    font-size: 52px;
  }
}
